body {
  background-color: rgb(39, 39, 39);
}
h1,
p {
  font-family: "Noto Sans KR", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
}

body {
  text-align: center;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
