img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  text-align: center;
  border: 3px solid black;
}

a:hover {
  text-decoration: underline;
  text-align: center;
}

#today-goal {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.green-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 5%;
  margin: 120px auto;
  width: 90%;
  height: 75%;
  background-color: green;
  z-index: -1;
  border-radius: 30px;
  border: 3px solid black;
  box-shadow: 0px 0px 15px red;
}
